<div class="search">
    <div class="has-icon-right">
        <input type="text" class="form-input" id="search" placeholder="SEARCH" autocomplete="off">
        <div class="form-icon">
            <box-icon name='search' color="#3c4859"></box-icon>
        </div>
    </div>
    <div class="search-result" id="search-ps"></div>
</div>

<!-- <% //if(theme.local_search.enable) {console.log("hint") %>
<div class="search">
  <span class="local-search local-search-google local-search-plugin" style="<%- theme.local_search.location %>;position:absolute;z-index:2;">
      <input type="search" placeholder="站内搜索" id="local-search-input" class="local-search-input-cls" style="<%- theme.local_search.facade %>">
      <div id="local-search-result" class="local-search-result-cls"></div>
  </span>
<div>
<% //}else{console.log("dasdsadsa")} %> -->
<!-- 
<% //if(theme.local_search.enable) {console.log("hint") %>
<div class="search">
  <span class="local-search local-search-google local-search-plugin" style="<%- theme.local_search.location %>;position:absolute;z-index:2;">
      <input type="search" placeholder="站内搜索" id="local-search-input" class="local-search-input-cls" style="<%- theme.local_search.facade %>">
      <div id="local-search-result" class="local-search-result-cls"></div>
  </span>
<div>
<% //}else{console.log("dasdsadsa")} %> -->